{% extends 'admin/file/list.html' %}
 
{% block toolbar %}
    {{ super() }}
    <div class="btn-group">
        <a href="{{ url_for('common_page.export_payments') }}" class="btn btn-primary">
            Export payments
        </a>
    </div> 
{% endblock %}


